@media (max-width: 767px) {
  .title-has-line {
    font-size: 15px;
    span {
      padding: 0 30px;
      &::before {
        display: none;
        width: 60px;
        left: -40px;
      }
      &::after {
        display: none;
        width: 60px;
        right: -40px;
      }
    }
  }
}